<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../../static/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <h1><span class="name">Elijjah</span> Collections</h1>
      </div>
      <ul class="menu">
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="arrivals.html">New Arrivals</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="login.html">Register</a></li>
        <li><a href="about.html">About us</a></li>
        
        <li>
          <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>
      <!--Responsive button-->
      <div class="menu_btn">
        <i class="fa fa-bars"></i>
      </div>
    </nav>
    
    <div class="wrapper">
      <div class="row">
        <div class="image-section">
          <img src="../../static/images/WhatsApp Image 2023-07-25 at 21.21.33.jpg" alt="" />
        </div>
        <div class="info">
          <h1>About Us</h1>
          <h2>Our Collection</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
            eius. Amet accusantium excepturi autem laborum error dignissimos
            temporibus voluptas magnam perferendis perspiciatis ipsam provident
            quas omnis corporis, sapiente possimus delectus commodi iste quaerat
            facere, illo sed. Veritatis distinctio pariatur iusto, quisquam
            ipsam quibusdam? Est, doloribus? Rerum laboriosam quibusdam quasi
            numquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Placeat non voluptatibus quam fugit laboriosam eius est? A explicabo
            dolore maxime, necessitatibus minima porro mollitia pariatur ut sunt
            ab in quasi tempore modi neque, nesciunt odit. Aut nulla quam facere
            exercitationem.
          </p>
        </div>
      </div>
    </div>
    

    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>About Us</h2>
          <div class="data">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam,
              culpa. Excepturi necessitatibus explicabo voluptate veniam omnis
              ullam quasi ipsam, quaerat architecto nesciunt quos et quas sunt
              dolorem? Quos, quaerat saepe in dolorem omnis iste pariatur! Eius
              deserunt laboriosam eligendi ut.
            </p>
            <div class="social">
              <a href=""><span class="fa-brands fa-facebook"></span></a>
              <a href=""><span class="fa-brands fa-instagram"></span></a>
              <a href=""><span class="fa-brands fa-twitter"></span></a>
              <a href=""><span class="fa-brands fa-youtube"></span></a>
            </div>
          </div>
        </div>
        <div class="center box">
          <h2>Address</h2>
          <div class="data">
            <div class="place">
              <span class="fa-solid fa-location-dot"></span>
              <span class="text">Busembatia market</span>
            </div>
           <div class="phone">
            <span class="fa-solid fa-phone"></span>
            <span class="text">+256778840638</span>
           </div>

            <div class="email">
              <span class="fa-regular fa-envelope"></span>
              <span class="text">lelishaedgar10@gmail.com</span>
            </div>
            
          </div>
        </div>
        <div class="right box">
          <h2>Contact Us</h2>
          <div class="data">
            <form action="">
              <div class="email">
                <div class="text">Email</div>
                <input type="email" required>
              </div>
              <div class="msg">
                <div class="text">Message*</div>
                <textarea name="" id="" cols="25" rows="3"></textarea>
              </div>
              <div class="btn">
                <button type="submit">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <p class="last">Designed by<a href="#"> Elisha Edgar</a> </p>
    </footer>
  </body>
</html>
