<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Elijah Collections | Orders page</title>
  </head>
  <body>
    <div class="container">
      <div class="navigation">
          <ul>
              <li>
                  <a href="#">
                      <span class="icon">
                          <ion-icon name="cart"></ion-icon>
                      </span>
                      <span class="title">Elijah Collections</span>
                  </a>
              </li>

              <li>
                  <a href="dashboard.html">
                      <span class="icon">
                          <ion-icon name="home-outline"></ion-icon>
                      </span>
                      <span class="title">Dashboard</span>
                  </a>
              </li>

              <li>
                  <a href="customers.html">
                      <span class="icon">
                          <ion-icon name="people-outline"></ion-icon>
                      </span>
                      <span class="title">Customers</span>
                  </a>
              </li>

              <li>
                  <a href="notifications.html">
                      <span class="icon">
                          <ion-icon name="notifications-outline"></ion-icon>
                      </span>
                      <span class="title">Orders</span>
                  </a>
              </li>

             

              <li>
                  <a href="#">
                      <span class="icon">
                          <ion-icon name="storefront-outline"></ion-icon>
                      </span>
                      <span class="title">Inventory</span>
                  </a>
              </li>

              <li>
                  <a href="profile.html">
                      <span class="icon">
                          <ion-icon name="settings-outline"></ion-icon>
                      </span>
                      <span class="title">Account Settings</span>
                  </a>
              </li>

              <li>
                  <a href="#">
                      <span class="icon">
                          <ion-icon name="log-out-outline"></ion-icon>
                      </span>
                      <span class="title">Sign Out</span>
                  </a>
              </li>
          </ul>
      </div>
      <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div>

            <div class="user">
                <img src="assets/imgs/customer01.jpg" alt="">
            </div>
        </div>
    <div class="notif-body">
      <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Items</th>
                
                <th scope="col">Total Costs</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td> Edgar</td>
                <td>Shoe</td>
                
                
                <td>30000</td>
                <td>077883738</td>
                <td>Busembatia</td>
                <td>21 Dec, 2023</td>
                <td>{{t.status}}</td>
                
                
                <td class="text-right">
                   
                    <button class="btn btn-primary badge-pill" style="width: 100px;"><a  style="text-decoration: none;color: white;" href="{% url 'update-approve-status' t.id  %}">Approve</a> </button>
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="{% url 'update-reject-status' t.id  %}">Reject</a> </button>
                    
                </td>
            </tr>
           

        </tbody>
    
    </table>
    </div>

    <script src="assets/js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
